<div class="container text-black">
  @if (!login) {
    <div class="text-center mn-5">
      <h1>Agoraテスト</h1>
    </div>
    <div class="row">
      <div class="col-4 mx-auto mt-5">
        <form autocomplete="off" [formGroup]="agoraForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail">App ID</label>
            <input type="text" class="form-control" formControlName="appId"
              [ngClass]="{ 'is-invalid': submitted && appId?.errors }">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">チャンネル名</label>
            <input type="text" class="form-control" formControlName="channelName" [ngClass]="{ 'is-invalid': submitted && channelName?.errors }">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">
              Token
            </label>
            <input type="text" class="form-control" formControlName="token">
          </div>
          <button [disabled]="agoraForm.invalid" type="submit" class="btn btn-primary w-100 mt-2">
            ログイン
          </button>
          <button type="reset" class="btn btn-danger w-100 mt-2" (click)="onReset()">
            リセット
          </button>
        </form>
      </div>
    </div>
  }
</div>
