<div class="d-flex justify-content-around align-items-center height_vh100">
  <div id="check_{{selectedCameraId}}" class="rounded only_local_stream_ w-50 height_vh50">
    <span [class]="true ? 'mic__unMute' : 'mic__mute'">
      <div *ngIf="audio" class="bouncing-loader">
        <div [ngClass]="checkVolumeLevel * 100 > 1 ? 'bounce': 'notBounce'"></div>
        <div [ngClass]="checkVolumeLevel * 100 > 1 ? 'bounce': 'notBounce'"></div>
        <div [ngClass]="checkVolumeLevel * 100 > 1 ? 'bounce': 'notBounce'"></div>
      </div>
      <span *ngIf="!audio">
        <svg width="24px" height="24px" viewBox="0 0 24 24" class="fill-white">
          <path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"></path>
          <path
            d="M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9 3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99 3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z">
          </path>
        </svg>
      </span>
    </span>
    <span class="initials">
      Camera Off
    </span>
    <div class="position-absolute bottom_10">
      <button id="audio" [disabled]="mediaChecking" [ngClass]="audio ? 'btn-secondary light-brown': 'btn-danger'"
        class="btn circle me-2" (click)="toggleAudio()">
        <span *ngIf="!audio">
          <svg width="24px" height="24px" viewBox="0 0 24 24" class="fill-white">
            <path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"></path>
            <path
              d="M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9 3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99 3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z">
            </path>
          </svg>
        </span>
        <span *ngIf="audio">
          <svg focusable="false" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
            <path d="M12 14c1.66 0 3-1.34 3-3V5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3z"></path>
            <path
              d="M17 11c0 2.76-2.24 5-5 5s-5-2.24-5-5H5c0 3.53 2.61 6.43 6 6.92V21h2v-3.08c3.39-.49 6-3.39 6-6.92h-2z">
            </path>
          </svg>
        </span>
      </button>
      <button id="camera" [disabled]="mediaChecking" [ngClass]="camera ? 'btn-secondary light-brown': 'btn-danger'"
        class="btn circle ms-2" (click)="toggleCamera()">
        <span *ngIf="camera">
          <svg focusable="false" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
            <path
              d="M18 10.48V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-4.48l4 3.98v-11l-4 3.98zm-2-.79V18H4V6h12v3.69z">
            </path>
          </svg>
        </span>
        <span *ngIf="!camera">
          <svg focusable="false" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
            <path
              d="M18 10.48V6c0-1.1-.9-2-2-2H6.83l2 2H16v7.17l2 2v-1.65l4 3.98v-11l-4 3.98zM16 16L6 6 4 4 2.81 2.81 1.39 4.22l.85.85C2.09 5.35 2 5.66 2 6v12c0 1.1.9 2 2 2h12c.34 0 .65-.09.93-.24l2.85 2.85 1.41-1.41L18 18l-2-2zM4 18V6.83L15.17 18H4z">
            </path>
          </svg>
        </span>
      </button>
    </div>
  </div>
  <div class="text-center text-black">
    <h1>
      Ready to join ?
    </h1>
    <form [formGroup]="joinForm" (ngSubmit)="joinChannel()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" formControlName="userName">
      </div>
      <button type="submit" class="btn btn-success w-100 rounded-lg" [disabled]="mediaChecking || joinForm.invalid">
        Join
      </button>
    </form>
  </div>
</div>
<div [ngClass]="{'loading': loading}">
</div>
